body{font-family: 'Roboto'}
[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar{
    background: #006fc9!important;
}
.bar.bar-stable .title{
    color:#fff;
}
.bar-stable .button.button-clear{
    color:#fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.error{color:darkred}
.superheroeContainer{

	border-radius: 50%;
    width: 66%;
    margin-left: 18%;
    /* margin-top: 30%; */
    margin-top: 28%;
}

.platform-ios .manual-ios-statusbar-padding{
    padding-top:20px;
}
.manual-remove-top-padding{
    padding-top:0px;
}
.manual-remove-top-padding .scroll{
    padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
    margin-left:-10px;
    margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
    border-radius:0px;
    border-left:0px;
    border-right: 0px;
}

/******************************************************************************************************************/

.pregunta .item-radio .item-content{background-color:transparent!important;}

.item-content{white-space: initial!important;text-overflow: initial}
.pregunta .item{
    padding-left: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    padding:5px 0;


}
.status.incorrecta{
    -webkit-filter: blur(3px);
    /*transition: 0.3s ease-in all;*/
}
.status.correcta{
    transform: scale(1.1);
    /*transition: 0.7s ease-in all;*/
}

.pregunta .item,.pregunta  .item:first-child,.pregunta .item:last-child{

    border:3px solid;
    border-radius: 10px!important;
    width:41%;
    float: left;
    display: block;
    margin-left:4%!important;
    margin-right: 4%!important;
    margin-top: 10px!important;
    margin-bottom: 14px!important;

}
.pregunta .item.item_grande,.pregunta  .item.item.item_grande:first-child,.pregunta .item.item.item_grande:last-child{
    width:92%;
    text-transform: none;
}

.pregunta .item.item_checked{
    background-color: #333;
    color:#fff;
}

.pregunta .checkbox input:before, .pregunta .checkbox-icon:before {
    background: none;    /* use your color hex instead of #333 */
    border: none;
}

.pregunta .checkbox input:checked:before,
.pregunta .checkbox input:checked + .checkbox-icon:before {
    background: none;    /* use your color hex instead of #333 */
    border: none;
}

.checkbox input:checked:after, input:checked + .checkbox-icon:after{
    opacity:0; /***saca el tilde del check**/
}

.pregunta_txt p{
    font-size:30px;
    line-height:1.3;
    text-align:center;
    font-weight: 700;
    margin:10px 4% 20px 4%;
}
.pregunta_txt .globo{
    width:294px;
    height: 222px;
    margin: 0 auto;

}
.pregunta_txt .globo h1{
    text-align: center;
    font-size: 107px;
    padding-left: 30px;
    color:#fff
}
.btn-next{background-color: transparent!important}
.btn-next:before{content:''}
.pregunta .ion-checkmark:before{content:''}
.personaje{
    position: absolute;
    bottom:0;
    left:0;
    z-index: 2;
}
#pregunta-next{z-index: 3}


.colors1{
    border-color: #e82d4a!important;
}
.colors1.item_checked,.colors1.status.correcta{
    background-color: #e82d4a!important;
    color: #fff!important;
}
.colors2{
    border-color: #00d0ff!important;
}
.colors2.item_checked,.colors2.status.correcta{
    background-color: #00d0ff!important;
    color: #fff!important;
}
.colors3{
    border-color: #39aa35!important;
}
.colors3.item_checked,.colors3.status.correcta{
    background-color: #39aa35!important;
    color: #fff!important;
}
.colors4{
     border-color: #fc7607!important;
 }
.colors4.item_checked,.colors4.status.correcta{
    background-color: #fc7607!important;
    color: #fff!important;
}
.colors5{
    border-color: #fc7607!important;
}
.colors5.item_checked,.colors5.status.correcta{
    background-color: #fc7607!important;
    color: #fff!important;
}
.colors6{
    border-color: #a0d700!important;
}
.colors6.item_checked,.colors6.status.correcta{
    background-color: #a0d700!important;
    color: #000!important;
}
.colors7{
    border-color: #2e4fe9!important;
}
.colors7.item_checked,.colors7.status.correcta{
    background-color: #2e4fe9!important;
    color: #fff!important;
}
.colors8{
    border-color: #00ed00!important;
}
.colors8.item_checked,.colors8.status.correcta{
    background-color: #00ed00!important;
    color: #000!important;
}
.colors9{
    border-color: #c04cff!important;
}
.colors9.item_checked,.colors9.status.correcta{
    background-color: #c04cff!important;
    color: #fff!important;
}
.colors10{
    border-color: #e5c902!important;
}
.colors10.item_checked,.colors10.status.correcta{
    background-color: #e5c902!important;
    color: #000!important;
}
.colors11{
    border-color: #a1c609!important;
}
.colors11.item_checked,.colors11.status.correcta{
    background-color: #a1c609!important;
    color: #000!important;
}
.colors12{
    border-color: #02d6e0!important;
}
.colors12.item_checked,.colors12.status.correcta{
    background-color: #02d6e0!important;
    color: #000!important;
}

.fondo1{
    background: url('../img/fondo1.jpg');
    background-size: cover;
}
.fondo2{
    background: url('../img/fondo2.jpg');
    background-size: cover;
}
.fondo3{
    background: url('../img/fondo3.jpg');
    background-size: cover;
}
.fondo4{
    background: url('../img/fondo4.jpg');
    background-size: cover;
}
.fondo5{
    background: url('../img/fondo5.jpg');
    background-size: cover;
}
.fondo6{
    background: url('../img/fondo6.jpg');
    background-size: cover;
}
.fondo7{
    background: url('../img/fondo7.jpg');
    background-size: cover;
}
.fondo8{
    background: url('../img/fondo8.jpg');
    background-size: cover;
}
.fondo9{
    background: url('../img/fondo9.jpg');
    background-size: cover;
}
.fondo10{
    background: url('../img/fondo10.jpg');
    background-size: cover;
}
.fondo11{
    background: url('../img/fondo11.jpg');
    background-size: cover;
}
.fondo11{
    background: url('../img/fondo12.jpg');
    background-size: cover;
}
.splash{
    width:100%
}
.splash .tit{
    width:100%;
    position:absolute;
    top:-17%;
}
.splash .superheroeContainer{text-align: center}
.splash .superheroeContainer img{
    width:100%;
    margin-top: 35px;
}
.splash .nuevo img{
    width: 300px;
    margin: -90px auto 0 auto;
}
.page_fin{
    background: url('../img/fondo_fin.jpg');
    background-size: cover;
}
.page_nuevo #datosDelJugador-button4{
    text-align: center;
    display: inherit;
}
.page_nuevo{
    background: url('../img/fondo_jugar.jpg');
    background-size: cover;
}
.page_nuevo .item{
    background: none;
    border:none;
    font-size: 65px;
    font-weight: 700;
    color:#006fc9;
}

.page_nuevo h3{
    text-align: center;
}
.page_nuevo h1{
    display: block;
    text-align: center;
    width: 100%;
    max-width: none;
    clear: both;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.page_nuevo .range input{
    background:linear-gradient(to right, #666 0%, #ccc 333%);
    background-position:center;
    background-size:99% 3px;
    background-repeat:no-repeat;

}
.page_nuevo .input{
    font-size: 32px;
    line-height: 1.3;
    height: auto;
    width: 60%;
    padding: 5px;
    margin: 0 auto;
    border-radius: 10px;
    border:2px solid #006fc9;
    background: transparent;
    text-align: center;
    display: block;

}

input[type="range"]::-webkit-slider-thumb {
    background-color: #006fc9;
    font-size: 20px;


   }
#juegoNuevo-button3{text-align: center;width: 100%;display: block}
#juegoNuevo-button3 img{display: inline}

/*******************ANIMACIONES********************************/
.respuesta-item.ng-enter-stagger {
  transition-delay: 0.3s;
  animation-delay: 0.3s;
}

.preguntaHeader.ng-enter {
 
  animation: bounceIn 1s;
 
}
.respuesta-item.ng-enter {

  animation: bounceIn 1s;

}
.personajeAnim{
     animation: slideInUp 0.7s;
}
.respuesta-item.ng-leave,.preguntaHeader.ng-leave {
 /*   position:absolute;
    z-index: -1;
      animation: fadeOutDown 2s;
      transition-delay: 0s;
      animation-delay: 0s;*/
}


.superheroeContainer{
     animation: slideInUp 1.5s;

    
}
.scroll img{
     animation: slideInDown 1.5s;

}
/*******************ANIMACIONES********************************/