<ion-view title="Pregunta 2" hide-back-button="true" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <p style="font-size:30px;line-height:40px;text-align:center">
                Elegí la opción que consideres correcta
            </p>
        </div>
        <form id="pregunta2-form9" class="list ">
            <ion-radio id="pregunta2-radio16" class=" ">Es importante consumir frutas y verduras de todos los colores todos los días</ion-radio>
            <ion-radio id="pregunta2-radio17" class=" ">Las frutas y verduras son importantes, pero con una fruta al día es suficiente</ion-radio>
            <ion-radio id="pregunta2-radio18" class=" ">Es importante comer frutas y verduras de todos los colores, pero no es necesario comerlas todos los días.</ion-radio>
        </form>
        <a ui-sref="menu.primerVuelta" id="pregunta2-button6" class=" button button-balanced  button-block icon-right ion-chevron-right ">Finalizar</a>
    </ion-content>
    
</ion-view>